body {
  color: rgb(32, 32, 32);
  font-size: 1.5em;
  font-family: Sans-serif;
  background: white;
}

input {
  border: none;
  border-radius: 12px;
  box-shadow: rgba(7, 7, 7, 0.08) 0px 8px 24px;
  color: #2c2c2c;
  font-size: 1.1em;
  padding: 10px;
  width: 90%;
}

.card {
  align-content: center;
  border-radius: 6px;
  box-shadow: rgba(7, 7, 7, 0.2) 0px 8px 24px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  padding: 0.5em;
}

.card p {
  text-align: center;
}

.card img {
  max-height: 170px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
